{{ define "header"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, height=auto, initial-scale=1.0" charset="UTF-8">
    <title>

    </title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="btn nav-link"  href="/">Home</a>
             <p class="navbar-brand"></p>   
        <a class="btn nav-link"  href="/write">New post</a>
             <p class="navbar-brand"></p>    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>          
                 <a class="btn nav-link" href="">Log In</a>
        </div>
    </nav>
</body>
</html>
{{ end }}